

<% if user_signed_in? %>
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
        <tr>
          <td>
            <%= link_to friend.first_name + ' ' + friend.last_name, friend, class: "link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2-hover" %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <td><%= link_to 'Delete', 
                  friend, 
                  data: { turbo_confirm: "Are you sure?", 
                          turbo_method: :delete },
                  class: "btn btn-outline-danger btn-sm" %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>

  <% else %>

    <h1>Hello World!</h1>
    <p>This is my First Rails Web Page...</p>

  <% end %>
